header {
    position: fixed;
    width: 100%;
    background-color: var(--Card);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.header {
    width: 1312px;
    height: 69px;
    margin: 0 auto;
    display: flex;
}

.header a {
    text-decoration: none;
}

.header .logo {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: var(--Primary);
    width: calc(224px - 16px);
    margin: auto 0 auto 16px;
}

.header form {
    position: relative;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.header input[type="text"] {
    display: flex;
    position: relative;
    width: 752px;
    height: calc(53px - 2px);
    padding: 0 24px 0 72px;
    border: 1px solid var(--Border);
    border-radius: 27px;
    font-size: 16px;
    background-image: url("/public/images/Search.png");
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 33px 33px;
}

.header input[type="text"]:focus {
    outline: 3px solid var(--Primary);
}

.header .ask {
    padding: 9px 22px;
    background-color: var(--Card);
    color: var(--Primary);
    border: 2px solid var(--Primary);
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.header .ask:hover {
    background-color: var(--Primary);
    color: var(--Background);
}

.header .profile {
    width: 54px;
    height: 54px;
    border: none;
}

.header .profile img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.header .profile:hover img {
    filter: brightness(80%);
}

.header .header-right {
    display: flex;
    gap: 32px;
    margin: auto 16px auto auto;
}
