header {
    position: fixed;
    width: 100%;
    background-color: var(--Card);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.header {
    width: 1312px;
    height: 69px;
    margin: 0 auto;
    display: flex;
}

.header a {
    text-decoration: none;
}

.header .logo {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: var(--Primary);
    width: calc(224px - 16px);
    margin: auto 0 auto 16px;
}

.header form {
    position: relative;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.header input[type="text"] {
    display: flex;
    position: relative;
    width: 752px;
    height: calc(53px - 2px);
    padding: 0 24px 0 72px;
    border: 1px solid var(--Border);
    border-radius: 27px;
    font-size: 16px;
    background-image: url("/public/images/Search.png");
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 33px 33px;
}

.header input[type="text"]:focus {
    outline: 3px solid var(--Primary);
}

.header .btn {
    padding: 9px 22px;
    background-color: var(--Card);
    color: var(--Primary);
    border: 2px solid var(--Primary);
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.header .btn-secondary {
    padding: 9px 22px;
    color: var(--Primary);
    margin-top: auto;
    margin-bottom: auto;
}

.header .btn:hover {
    background-color: var(--Primary);
    color: var(--Background);
}

.header .btn-secondary:hover {
    text-decoration: underline;
}

.header .profile {
    width: 54px;
    height: 54px;
    border: none;
}

.header .profile img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
}

.header .profile:hover img {
    filter: brightness(80%);
}

.header .header-right {
    display: flex;
    gap: 32px;
    margin: auto 16px auto auto;
}

.dropdown {
    position: relative;
}

.dropdown::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 32px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Card);
    padding: 8px 8px;
    min-width: 140px;
    border-radius: 16px;
    flex-direction: column;
    gap: 4px;
    left: 50%;
    margin-top: 32px;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: var(--Text);
    height: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    border-radius: 12px;
}

.dropdown-content a:hover {
    background-color: var(--CardDarker);
}

.dropdown-content hr {
    border: none;
    border-top: 1px solid var(--Border);
    width: calc(100% - 16px);
    height: 0px;
    margin: 0px 8px;
    padding: 0px;
}

.dropdown-content form {
    width: 100%;
}

.dropdown-content button {
    color: var(--Text);
    height: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    border-radius: 12px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: var(--CardDarker);
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    width: 0;
    z-index: 1;
    height: 0;
    border-bottom: solid 10px var(--Card);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
