.settings-content {
    display: flex;
    flex-direction: row;
}

.settings-nav {
    display: flex;
    flex-direction: column;
    width: 216px;
    margin: 0 168px 0 0;
}

.settings-nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    color: var(--Text);
    text-decoration: none;
}

.settings-nav img {
    width: 24px;
    height: 24px;
}

.settings-nav a.active {
    color: var(--Text2);
}

.btn-wide.dangerous {
    background-color: var(--Dangerous);
}

.btn-wide.dangerous:hover {
    background-color: var(--Card);
    color: var(--Dangerous);
    border: 2px solid var(--Dangerous);
}

.authentication .profile-picture {
    position: relative;
    width: 128px;
    height: 128px;
    padding: 0;
    margin: 0;
    border: 1px solid var(--Border);
    border-radius: 1000px;
    font-size: 16px;
    object-fit: cover;
}

.authentication .hidden-label:hover {
    cursor: pointer;
}

.authentication .hidden-label:hover .profile-picture {
    border: 1px solid var(--Primary);
}

.profile-picture-container input[type="file"] {
    display: none;
}

.hidden-label {
    position: relative;
}

.authentication .plus-btn {
    position: absolute;
    width: 38px;
    height: 38px;
    margin: 0px;
    border: 5px solid var(--Card);
    border-radius: 1000px;
    top: -114px;
    right: 4px;
    z-index: 5;
    background-image: url("/public/images/Plus.png");
    background-color: var(--Border);
    background-size: cover;
}

.authentication input:focus {
    outline: 3px solid var(--Primary);
}
